/* src/styles/product.module.css */

.productImgWrapper {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 aspect ratio */
  overflow: hidden;
}

.productImgWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.linkDark {
  text-decoration: none;
  color: black;
}

.linkDark:hover {
  text-decoration: underline;
}
